{% extends 'base.html' %}
{% block path%}
<a class="p-2 text-dark" href="{% url 'analysis' %}">Analysis</a>
{% endblock%}
{% block container %}
<div class="container">
    <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">Shorten your url</h4>
            </div>
            <div class="card-body">

                <form method='post' action="{% url 'shorten' %}" class="card p-2">
                    {% csrf_token %}
                    <div class="input-group">
                        {{form.long_url}}
                        <div class="input-group-append">
                            &ensp;
                            <button type="submit" class="btn btn-secondary">Shorten</button>
                        </div>
                    </div>
                </form>
                {% if short_url%}
                <div class="list-group">
                    <button type="button" class="list-group-item list-group-item-action">
                        <a href="{{short_url}}" target="_blank" id="myInput">{{site}}/{{short_url}}</a>
                        &ensp;
                        <i class="fa fa-copy" onclick="copy('myInput')"
                            style="font-size:24px;color:#1C6EFd;text-shadow:2px 2px 4px lightblue;"></i>
                    </button>
                    <button type="button" class="list-group-item list-group-item-action">
                        <a href="{{long_url}}" id="my2Input" target="_blank">{{long_url}}</a>
                        &ensp;
                        <i class="fa fa-copy" onclick="copy('my2Input')"
                            style="font-size:24px;color:#1C6EFd;text-shadow:2px 2px 4px lightblue;"></i>
                    </button>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}